*{
  margin: 0;
  padding: 0;
}

label{
  font-family: 'Nunito', sans-serif;

  font-weight: 600;
}



.App {

  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.8' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(21.85) translate(-954.23 -715.68)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(21.85) translate(-954.23 -715.68)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(21.85) translate(-954.23 -715.68)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(21.85) translate(-954.23 -715.68)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(21.85) translate(-954.23 -715.68)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(21.85) translate(-954.23 -715.68)'%3E%3Cg fill='%23BB2649'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(21.85) translate(-954.23 -715.68)'%3E%3Cg fill='%23BB2649'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(21.85) translate(-954.23 -715.68)'%3E%3Cg fill='%23BB2649'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.btn-register{
  margin: 0 10px;
}


form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form button {
  margin-top: 5%;
}

table {
  margin: 5% auto;
  width: 80%!important;
}

.action-btn {
  margin: 2%;
}


.nav-container{
  background: rgb(154,39,66);
  background: linear-gradient(90deg, rgba(154,39,66,1) 0%, rgba(187,38,73,1) 35%, rgba(255,61,107,1) 100%);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.logo{
display: flex;
align-items: center;
gap: 15px;
}


.remove-bg{
  
  height: 50px;
  width: 50px;
  }

.logo p{
font-family: 'Nunito', sans-serif;
font-size: 45px;
color: aliceblue;
margin-top: 10px;

}

.body-profesor{
  display: flex;
  flex-direction: column;

}

.body-profesor h3{
  margin-top: 35px;
  margin-left: 105px;
  margin-bottom: -35px;
}

.btn-addMany{
  margin-top: 35px;
  margin-right: 35px;
  align-self: flex-end;
  background-color: #bb2649;
  width: 100px;
  color: #fff;
  font-weight: bold;
}

.btn-comBack{
  margin-top: 15px;
  margin-right: 35px;
  padding-bottom: 35px;
  align-self: center;
  background-color: #26b1bb;  
  width: 100px;
  height: 25px;
  color: #fff;
  font-weight: bold;

}

.btn-comAdd{
  margin-top: 15px;
  margin-right: 35px;
  padding-bottom: 35px;
  align-self: center;
  background-color: #bb2649;
  width: 100px;
  height: 25px;
  color: #fff;
  font-weight: bold;
}

.btn-detail{
  margin-top: 0px;
  margin-right: 35px;
  padding-bottom: 35px;
  align-self: center;
  background-color: #bb2649;
  width: 100px;
  color: #fff;
  font-weight: bold;
}

.nav-extra-bold-text{
  font-weight: 800;
  margin: 0 0;
}
.nav-extra-ligth-italic{
  font-weight: 100;
  font-family: 'Nunito';
  font-style: italic;
  margin: 0 0;

}

.form-container, .form-container-register{
  font-family: 'Nunito', sans-serif;
  text-align: left;
  background: #fff;
  margin: 2rem auto;
  border-radius: 5px;
  width: 500px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.form-container-register{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.form-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  padding: .5rem .1rem .5rem 1rem ;
  background-color: #bb2649;
  color:#fff;
}


.form-login{
  padding:1rem;
  display: flex;
  align-items: flex-start;
}

.btn-aling{
  margin-top: 1rem;
  align-self: flex-end;
}

.btn-custom-color-login{
  background-color: #bb2649;
  
}

.btn-custom-color-login:hover{
  background-color: #ff3d6b;
  
}

.table{
padding: 0;

}

.user-log{
color: black;
font-size: small;
position: relative;
left: 495px;
bottom: 107px;

}

.logout-button{
position: relative;
left: 587px;
bottom: 143px;
color: white;
text-decoration: none;

}

.form-register{
  max-width: 600px;
  margin: 0 auto;
}

.detail-top{  
  display: flex;
  justify-content: space-around;
  
    
}

.emergencia{
  background-color: red;
  }

.detail-top h2{
  color: black;
    
}

.preexistencias-top{

max-width: 1020px;
margin-top: 35px;
margin-left: 125px;



}


.table-test{
max-width: 1200px;
}



.form-paciente{
  padding-top: 20px;
 
  max-width: 600px;
  margin: 0 auto;
}




h2{
  color: white;
  margin-top: 50px;
}

.btn-color{
  color:white;
  text-decoration: none;
}

.list-container{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  align-items: center;

}

.link-container{
  color: white;
  text-decoration: none;
  font-weight: 600;
  align-items: center;
}

.nav-link{
  color: white;
  font-family: 'Nunita', sans-serif;
  font-size: 25px;
}

.nav-link:hover{
  color: rgb(182, 95, 182);
  font-family: 'Nunita', sans-serif;
  font-size: 25px;
}

.form-group{
  margin-top: 12px;
}

.admin-container-flex{
  margin: 1rem auto 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;

}


.container-comunicacion-detail{
  display: flex; 
  flex-direction: column;
  background-color: #ffffff;
  width: 50vw;
  margin: 5rem auto;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.body-comunication-detail{
  padding: 1rem;
}


.home-profesor-card{
  display: flex;
  flex-direction: column;
}


.form-container-profesor{
  font-family: 'Nunito', sans-serif;
  text-align: left;
  background: #fff;
  margin: 5rem auto;
  border-radius: 5px;
  width: 95vw;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.justify-btn{
  padding-right: 3rem;
  display: flex;
  justify-content: flex-end;
}


.image-container-upload{
  margin: 10px 0;
  padding: 0;
  gap:10px
  }
  
  .icon-buton, .image-container-upload,.img-btn{
    display: flex;
    align-items:center;
    
  }
  
  
  
  .img-btn{
    border: #D4D7D9 dashed;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    gap: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    justify-content: center;
  }

  .icon-text{
    font-size: 1.2em;
    margin: 0;
    font-weight: 200;
  }

  .flex-edit-delete{
    display: flex;
    justify-content: space-between;
  }

  .flex-btn-leer{
    display: flex;
    justify-content: flex-end;
  }

  .comunicacion-imagen{
    display: flex;
    justify-content: space-between;
  }

  .comunicacion-img{
    border-radius: 10px;
    width: 300px;
  }

.card-description{
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

footer{
  margin-top: auto;
  width: 100%;
  height: 50px;
  background-color: #bb2649;
}